.advantages {
  color: $black;

  @include list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 265px 325px;
    grid-template-rows: 1fr 1fr auto;
    column-gap: 69px;
    margin-left: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 21px;
    column-gap: 85px;
  }
}

.advantages__item {
  width: 250px;
  font-family: $main-font;
  font-size: 17px;
  line-height: 20px;
  margin: 0 0 82px 0;
  padding-top: 1px;

  @include font;

  @media (min-width: $tablet-width) {
    width: 293px;
    margin: 0 0 110px 0;
    font-size: 20px;
    line-height: 22px;
  }
}

.advantages__item--pack {
  margin: 0;

  @media (min-width: $tablet-width) {
    align-self: start;
    margin: 0;
  }
}

.advantages__item--likes {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: start;
    margin: 0;
  }
}

.advantages__item--stuff {
  @media (min-width: $tablet-width) {
    min-width: 263px;
  }
}

.advantages__item--style {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
