.contacts {
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding: 50px 0 57px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    padding: 84px 0 104px 177px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: max-content auto auto;
  }
}

.contacts__title {
  margin: 37px 0 28px 29px;
  font-family: $main-font;
  font-size: 18px;
  line-height: 30px;

  @include font;

  @media (min-width: $tablet-width) {
    margin: 0 0 50px 0;
    padding: 29px 0 0 50px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 78px 0 36px 48px;
    padding: 0;
    align-self: start;
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__button-mail {
  width: 260px;
  padding: 14px 37px;
  margin: 0 auto;
  font-family: $main-font;
  font-size: 18px;
  line-height: 20px;

  @include button-text;
  @include button-view;

  &:hover {
    color: $white;
    background: linear-gradient(0deg, #444444, #444444);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 230px;
    padding: 14px 27px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin: 38px 0 0 48px;
    align-self: center;
  }
}

.contacts__map {
  display: block;
  position: relative;
  width: 320px;
  height: 454px;
  margin: 34px 0 41px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 457px;
    margin: 48px 0 55px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/4;
    width: 527px;
    height: 457px;
    margin: 0;
  }
}

.contacts__map img {
  position: absolute;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 457px;
  }

  @media (min-width: $desktop-width) {
    width: 527px;
    height: 457px;
  }
}

.contacts__map::after {
  content: "";
  position: absolute;
  z-index: 6;
  top: 141px;
  left: 138px;
  width: 67px;
  height: 100px;
  background-image: url("../img/icon-map-pin.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    top: 142px;
    left: 362px;
  }

  @media (min-width: $desktop-width) {
    top: 141px;
    left: 239px;
  }
}
