.contacts {
  outline: 1px solid lime;
  margin: 38px 30px 39px;
}

.contacts__title {
  font-family: $main-font;
  font-size: 18px;
  line-height: 30px;

  @include font;
}

.contacts__button-mail {
  font-family: $main-font;
  font-size: 18px;
  line-height: 20px;

  @include button-text;
}
