.develop {
  display: flex;
  align-items: center;
}

.develop__text {
  padding: 4px 28px 0 0;
  font-family: $main-font;
  font-size: 19px;
  line-height: 18px;

  @include font;

  @media (min-width: $tablet-width) {
    padding: 1px 28px 0 0;
  }
}

.develop__button {
  margin-top: 12px;
}
