.form-block {
  padding: 0;
}

.form-block__list {
  @include list;

  @media (min-width: $tablet-width) {
    margin-left: 150px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 100px;
  }
}

.form-block__item {
  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form-block__list--text {
  @media (min-width: $tablet-width) {
    margin-left: 124px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 72px;
  }
}

.form-block__item--radio {
  padding: 15px 18px 8px 61px;

  @media (min-width: $tablet-width) {
    padding: 0 18px 0 60px;
    margin-bottom: 56px;
  }
}

.form-block__item--checkbox {
  padding: 13px 18px 10px 63px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding: 0 0 55px 52px;
    margin: 0;
  }
}

.form-block__item--text {
  padding-top: 9px;

  @media (min-width: $tablet-width) {
    padding: 5px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 6px 0 0 0;
  }
}

.form-block__legend {
  position: relative;
  margin: 0 0 20px 0;
  font-family: $main-font;
  font-size: 17px;
  line-height: 16px;

  @include font;
  color: $light-green;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.form-block__legend::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  margin: 7px 0 0 59px;
  background-color: $salad;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form-block__legend--checkbox {
  @media (min-width: $tablet-width) {
    padding: 17px 0 0 0;
  }
}

.form-block__label {
  font-family: $main-font;
  font-size: 17px;
  line-height: 18px;

  @include font;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }
}

.form-block__label--interior {
  display: block;
}

.form-block--radio {
  position: relative;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;
  }
}

.form-block--checkbox {
  position: relative;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding: 50px 0 9px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 0 9px 0;
  }
}

.form-block__input ~ .form-block__radio {
  position: absolute;
  margin-top: -12px;
  margin-left: -62px;
  width: 42px;
  height: 42px;
  border: 2px solid #444444;
  border-radius: 20px;

  &:hover {
    border: 2px solid $salad;
  }

  &:active {
    border: 2px solid rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    margin-top: -13px;
    margin-left: -79px;
    width: 52px;
    height: 52px;
    border: 2px solid #444444;
    border-radius: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -84px;
  }
}

.form-block__input:checked ~ .form-block__radio {
  position: absolute;
  margin-top: -6px;
  margin-left: -62px;
  width: 42px;
  height: 42px;
  border: 2px solid $dark-gray;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.8136 0.0700073C11.8952 0.0700073 15.204 3.55812 15.204 7.86127C15.204 12.1643 11.8952 15.6524 7.8136 15.6524C3.73201 15.6524 0.423225 12.1643 0.423225 7.86127C0.423225 3.55812 3.73201 0.0700073 7.8136 0.0700073Z' fill='%2362D1BA'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    margin-top: -14px;
    margin-left: -79px;
    width: 52px;
    height: 52px;
    border: 2px solid $dark-gray;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8879 1.47372C16.0731 1.47372 20.2765 5.67696 20.2765 10.862C20.2765 16.0471 16.0732 20.2502 10.8879 20.2502C5.70281 20.2502 1.4995 16.0471 1.4995 10.862C1.4995 5.67696 5.70282 1.47372 10.8879 1.47372Z' fill='%2362D1BA' stroke='%2362D1BA' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: -84px;
  }
}

.form-block__input ~ .form-block__check {
  position: absolute;
  margin-top: -9px;
  margin-left: -63px;
  width: 38px;
  height: 38px;
  border: 2px solid #444444;

  &:hover {
    border: 2px solid $salad;
  }

  &:active {
    border: 2px solid rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    margin-top: -15px;
    margin-left: -80px;
    width: 52px;
    height: 52px;
    border: 2px solid $dark-gray;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    margin-top: -19px;
    margin-left: -83px;
    width: 52px;
    height: 52px;
    border: 2px solid $dark-gray;
  }
}

.form-block__input:checked ~ .form-block__check {
  position: absolute;
  width: 38px;
  height: 38px;
  border: 2px solid $dark-gray;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.4046 0.986784L20.5112 0L7.74802 14.0264L1.43025 7.04846L0.536823 8.03524L6.85459 15.0132L7.74802 16L8.70526 15.0132L21.4046 0.986784Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 52px;
    height: 52px;
    border: 2px solid $dark-gray;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='32.666px' height='22.742px' viewBox='0 0 32.666 22.742' enable-background='new 0 0 32.666 22.742' xml:space='preserve'%3E%3Cpolygon points='32.666,1.414 31.252,0 11.338,19.914 1.414,9.989 0,11.403 9.924,21.328 9.924,21.328 11.338,22.742 11.338,22.742 11.339,22.742 12.753,21.328 12.752,21.328 '/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 52px;
    height: 52px;
    border: 2px solid $dark-gray;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='32.666px' height='22.742px' viewBox='0 0 32.666 22.742' enable-background='new 0 0 32.666 22.742' xml:space='preserve'%3E%3Cpolygon points='32.666,1.414 31.252,0 11.338,19.914 1.414,9.989 0,11.403 9.924,21.328 9.924,21.328 11.338,22.742 11.338,22.742 11.339,22.742 12.753,21.328 12.752,21.328 '/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.form-block__input:focus ~ .form-block__radio,
.form-block__input:focus ~ .form-block__check {
  outline: 2px solid $black;
}

.form-block__input:disabled ~ .form-block__radio,
.form-block__input:disabled ~ .form-block__check {
  border: 1px solid rgba(150, 140, 140, 0.5);
}

.form-block--text {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding: 28px 0 0 0;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 24px 0 0 0;
  }
}

.form-block__legend--text {
  @media (min-width: $tablet-width) {
    padding: 11px 0 0 0;
  }
}

.form-block--tel {
  position: relative;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding: 60px 0 0 13px;
    margin-bottom: 20px;
  }
}

.form-block__legend--tel {
  @media (min-width: $tablet-width) {
    padding: 7px 0 0 0;
  }
}

.form-block--email {
  position: relative;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding: 0 0 38px 0;
  }
}

.form-block__legend--email {
  @media (min-width: $tablet-width) {
    padding: 9px 0 0 0;
  }
}

.form-block__legend--email::before {
  width: 182px;
  margin: 9px 0 0 78px;
}

.form-block--textarea {
  @media (min-width: $tablet-width) {
    padding: 13px 0 35px 0;
  }
}

.form-block__legend--textarea {
  @media (min-width: $tablet-width) {
    padding: 22px 0 0 0;
  }
}

.form-block__input {
  font-family: $main-font;
  font-size: 17px;
  line-height: 18px;

  @include font;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }
}

.form-block__input--name,
.form-block__input--surname,
.form-block__input--patronym,
.form-block__input--tel,
.form-block__input--email {
  display: block;
  padding: 13px 0 16px 0;
  margin-bottom: 12px;
  width: 260px;
  border: none;
  border-bottom: 2px solid $black;

  &:hover {
    border-bottom: 2px solid $salad;
  }

  &:active {
    border-bottom: 2px solid $salad;
  }

  &:focus {
    border-bottom: 2px solid $salad;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    display: inline;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 606px;
  }
}

.form-block__input--name {
  @media (min-width: $tablet-width) {
    margin-left: 24px;
    padding: 0 0 13px 17px;
    width: 427px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 625px;
  }
}

.form-block__input--surname {
  @media (min-width: $tablet-width) {
    margin-left: 26px;
    padding: 0 0 13px 16px;
    width: 375px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 572px;
  }
}

.form-block__input--patronym {
  @media (min-width: $tablet-width) {
    margin-left: 27px;
    padding: 0 0 13px 16px;
    width: 375px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 11px 16px;
    width: 573px;
  }
}

.form-block__input--tel {
  padding: 3px 0 16px 0;

  @media (min-width: $tablet-width) {
    width: 500px;
    padding: 0 0 14px 16px;
    margin-left: 134px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    margin-left: 81px;
  }
}

.form-block__input--email {
  padding: 3px 0 16px 0;

  @media (min-width: $tablet-width) {
    width: 501px;
    padding: 3px 0 13px 16px;
    margin-left: 108px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    margin-left: 56px;
  }
}

.form-block__list--checkbox {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: auto auto auto;
    column-gap: 94px;
    padding: 14px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: auto auto;
    column-gap: 63px;
  }
}

.form-block__input--textarea {
  border: 2px solid $black;
  width: 260px;
  height: 142px;
  margin: 5px 0 0 0;
  padding: 14px;

  &:hover {
    border: 2px solid $salad;
  }

  &:active {
    border: 2px solid $salad;
  }

  &:focus {
    border: 2px solid $salad;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    margin-left: 127px;
    width: 501px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    margin-left: 74px;
  }
}

.form-block__svg {
  position: absolute;
  fill: rgba(0, 0, 0, 0.2);
}

.form-block__svg--tel {
  top: 33px;
  right: 7px;

  @media (min-width: $tablet-width) {
    top: 59px;
    right: 37px;
  }

  @media (min-width: $desktop-width) {
    top: 58px;
    right: 133px;
  }
}

.form-block__svg--email {
  top: 33px;
  right: 7px;

  @media (min-width: $tablet-width) {
    top: 1px;
    right: 33px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    right: 129px;
  }
}

.form-block__input--tel:hover ~ .form-block__svg--tel {
  fill: $salad;
}

.form-block__input--email:hover ~ .form-block__svg--email {
  fill: $salad;
}
