.form-block__list {
  @include list;

  @media (min-width: $tablet-width) {
    margin-left: 150px;
  }
}

.form-block__legend {
  margin-bottom: 20px;
  font-family: $main-font;
  font-size: 17px;
  line-height: 16px;

  @include font;
  color: $light-green;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    float: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.form-block__label {
  font-family: $main-font;
  font-size: 17px;
  line-height: 18px;

  @include font;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }
}

.form-block__input--interior {
  float: left;
}

.form-block__label--interior {
  display: block;
  padding: 0 20px;
}

.form-block--checkbox,
.form-block--email {
  margin-bottom: 20px;
}

.form-block__input {
  font-family: $main-font;
  font-size: 17px;
  line-height: 18px;

  @include font;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }
}

.form-block--text .form-block__input,
.form-block--tel .form-block__input,
.form-block--email .form-block__input {
  display: block;
  margin: 0 0 10px 0;
  width: 260px;
  border: none;
  border-bottom: 2px solid $black;

  @media (min-width: $tablet-width) {
    display: inline;
    width: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 606px;
  }
}

.form-block--tel .form-block__input {
  @media (min-width: $tablet-width) {
    width: 500px;
    margin-left: 115px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.form-block--email .form-block__input {
  @media (min-width: $tablet-width) {
    width: 500px;
    margin-left: 90px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.form-block--checkbox .form-block__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: auto auto auto;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: auto auto;
  }
}

.form-block--textarea .form-block__input {
  border: 2px solid $black;

  @media (min-width: $tablet-width) {
    margin-left: 108px;
    width: 501px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.form-block--text .form-block__input--name {
  @media (min-width: $tablet-width) {
    width: 450px;
  }

  @media (min-width: $desktop-width) {
    width: 658px;
  }
}
