.info {
  outline: 1px solid olive;
  padding: 28px 29px;

  @media (min-width: $tablet-width) {
    padding: 28px 29px 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 30px 80px 204px;
  }
}

.info__title {
  font-family: $main-font;
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 83px 0;

  @include font;

  @media (min-width: $tablet-width) {
    padding: 21px 0 18px 17px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 24px 0 18px 16px;
    margin: 0 0 84px 0;
    font-size: 53px;
    line-height: 57px;
  }
}
