.info {
  outline: 1px solid olive;
  padding: 28px 29px;

  @media (min-width: $tablet-width) {
    padding: 28px 29px 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 30px 80px 204px;
  }
}

.info__title {
  font-family: $main-font;
  font-size: 25px;
  line-height: 30px;
  margin: 4px 0 83px 1px;

  @include font;

  @media (min-width: $tablet-width) {
    padding: 22px 0 14px 20px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 34px 0 18px 22px;
    margin: 0 0 77px 0;
    font-size: 53px;
    line-height: 57px;
  }
}
