.main-nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 79px auto auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }
}

.main-nav__toggle {
  padding: 0 0 0 24px;
  background-color: $white;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__delivery {
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  color: $dark-gray;
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding: 0 50px 0 0;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px 0 0;
    grid-column: 3/4;
    grid-row: 3/4;
  }
}
