.nav-list {
  @include list;
}

.nav-list__link {
  display: block;
  padding: 25px 0;
  border-bottom: 1px solid $light-gray;
  font-family: $main-font;
  font-size: 17px;
  line-height: 24px;

  @include font;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    font-weight: 24px;
  }
}
