.order-form__imperative {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  text-align: left;
  color: $text-color;
}

.order-form__button-send {
  font-size: 17px;
  line-height: 16px;

  @include button-text;
}
