.page-footer {
  @include list;

  font-family: $main-font;
  background-color: $gray;
  outline: 1px solid aqua;
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-footer__copyright {
  margin: 0 auto;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  padding: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
