.page-footer {
  @include list;

  font-family: $main-font;
  background-color: $gray;
  outline: 1px solid aqua;
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 21px 0 0 20px;
  }
}

.page-footer__copyright {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 15px 0 0 12px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 12px 0 0 159px;
  }
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  padding: 26px 30px 18px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
  }
}
