.page-header {
  outline: 1px solid steelblue;
  min-height: 79px;

  @media (min-width: $tablet-width) {
    min-height: 89px;
  }

  @media (min-width: $desktop-width) {
    min-height: 88px;
  }
}

.page-header__logo {
  margin: 0 auto;
}
