.page-title {
  font-family: $main-font;
  font-size: 27px;
  line-height: 30px;

  @include font;
  text-align: center;
  outline: 1px solid blue;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.page-title--bg-gray {
  padding: 74px 0;
  background-color: $gray;
}
