.page-header {
  @media (min-width: $tablet-width) {
    margin-bottom: -42px;
  }
}

.page-header__logo {
  padding: 22px 5px 26px 116px;

  @media (min-width: $tablet-width) {
    padding: 30px 5px 19px 57px;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
