.page-header {
  outline: 1px solid steelblue;

  @media (min-width: $tablet-width) {
    margin-bottom: -25px;
  }
}

.page-header__logo {
  margin: 20px auto;

  @media (min-width: $tablet-width) {
    margin: 20px 45px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
