.page-footer {
  @include list;

  font-family: $main-font;
  background-color: $gray;
}

.page-footer__logo {
  display: none;

  &:hover {
    fill: $aqua;
  }

  &:active {
    fill: $aqua;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: block;
    padding: 19px 0 0 20px;
  }
}

.page-footer__copyright {
  margin: 0;
  padding: 5px 5px 0 39px;

  @media (min-width: $tablet-width) {
    padding: 6px 5px 0 32px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 5px 0 0 159px;
  }
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  padding: 26px 30px 18px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
  }
}
