.product-card__title {
  font-size: 25px;
  line-height: 30px;

  @include font;
}

.product-card__subtitle {
  font-size: 17px;
  line-height: 20px;

  @include font;
  color: $light-green;
}

.product-card__text {
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  color: $dark-gray;
}

.product-feature {
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  text-align: left;
  color: $dark-gray;
}

.product-card__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: $dark-gray;
}

.product-card__button {
  font-size: 17px;
  line-height: 20px;

  @include button-text;
}
