.size-form__label {
  display: block;
  padding: 15px 22px;
  width: 82px;
  height: 52px;
  border: 2px solid $light-gray;
  cursor: pointer;

  @include button-text;

  &:hover {
    border: 2px solid $dark-gray;
  }

  &:active {
    border: 2px solid $light-green;
  }

  @media (min-width: $tablet-width) {
    width: 112px;
    padding: 15px 37px;
  }
}

.size-form__button-add {
  display: block;
  width: 260px;
  margin: 0 auto 46px;
  padding: 18px 68px;
  background-color: $light-green;
  border: none;
  font-family: $main-font;
  font-size: 17px;
  line-height: 16px;

  @include button-text;
  color: #ffffff;

  &:hover {
    color: $white;
    background: linear-gradient(0deg, #444444, #444444);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    color: $white;
    background: linear-gradient(0deg, #444444, #444444);
  }

  @media (min-width: $tablet-width) {
    width: 350px;
    padding: 20px 112px 16px;
  }
}

.size-form__input:checked ~ .size-form__label {
  border: 2px solid $light-green;
}
