.video {
  position: relative;
  outline: 1px solid teal;
  margin: 0 30px 58px;
  padding: 8px 0 32px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 50px 64px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    margin: 0 50px 106px;
  }
}

.video__title {
  width: 156px;
  padding: 0 0 11px 90px;
  font-family: $main-font;
  font-size: 17px;
  line-height: 24px;

  @include font;

  @media (min-width: $tablet-width) {
    order: 2;
    width: 340px;
    margin: 42px 0 0 16px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 178px;
    align-self: end;
    padding: 0;
    margin: 76px 0 26px 60px;
  }
}

.video__text {
  width: 232px;
  padding: 17px 0 12px 34px;
  font-family: $main-font;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
  color: $dark-gray;

  @media (min-width: $tablet-width) {
    order: 3;
    width: 627px;
    margin: 0 0 0 6px;
    padding: 12px 0 12px 34px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 288px;
    padding: 0 0 0 60px;
    margin: 0;
  }
}

.video__film {
  @media (min-width: $tablet-width) {
    font-size: 0;
    order: 1;
    display: block;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/4;
  }
}

.video__button-play {
  width: 95px;
  height: 70px;
  background-color: $light-green;
  border: 5px solid $white;
  border-radius: 25px;
  position: absolute;
  top: 134px;
  left: 83px;

  @media (min-width: $tablet-width) {
    top: 194px;
    left: 287px;
  }
}

.video__button-buy {
  display: block;
  width: 192px;
  margin: 29px auto 0;
  font-family: $main-font;
  font-size: 17px;
  line-height: 16px;
  padding: 16px 7px 16px 8px;
  letter-spacing: 1px;


  @include button-text;
  @include button-view;

  @media (min-width: $tablet-width) {
    order: 4;
    width: 584px;
    padding: 16px 207px;
    margin-bottom: 45px;
    letter-spacing: 0;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    margin: 19px auto 51px;
    padding: 16px 30px;
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
  }
}
