@mixin list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin font {
  font-weight: bold;
  text-align: left;
  color: #000000;
}

@mixin button-text {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
}
