body {
  width: 320px;
  background: white;
  font-family: "Open Sans", "Helvetica", sans-serif;
  outline: 1px solid darkgreen;
}

a {
  text-decoration: none;
  color: black;
}

@import "variables";
@import "mixins";
@import "blocks/index-box";
@import "blocks/page-footer";
@import "blocks/nav-list";
@import "blocks/advantages";
@import "blocks/social-list";
@import "blocks/cards";
@import "blocks/form-block";
@import "blocks/page-title";
@import "blocks/product-groups";
@import "blocks/product-card";
@import "blocks/info";
@import "blocks/review";
@import "blocks/contacts";
@import "blocks/contact";
@import "blocks/develop";
@import "blocks/card";
@import "blocks/video";
@import "blocks/order-text";
@import "blocks/order-form";
