$black: #000000;
$white: #ffffff;
$gray: #f1f1f1;
$light-gray: #ececec;
$dark-gray: #444444;
$burger: #231f20;
$green: #56c3b2;
$light-green: #63d1bb;
$dark-green: #149080;
$salad: #62d1ba;
$aqua: #6bc6b3;
$gray-back: #f9f9f9;
$main-font: "Open Sans", "Helvetica", sans-serif;
$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
